/*
 * DreamFace X-Platform - Graphical Controls Styles
 *
 * (c) DreamFace Interactive, all rights reserved.
 */

.gc_w_design {

}

.gc_design_edit_btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    cursor: pointer;
}

.gc_w_design_selected {
    border: 1px #FF0000 solid;
}

.gc_w_design_panel {
    height: auto;
    min-height: 50px;
    border: 1px #e7e7e7 solid;
    padding: 26px 5px 10px 5px;
}

.gc_w_design_panel:after {
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Panel";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.gc_w_design_panel_col {
    border: 1px #e7e7e7 solid;
}

.gc_w_design_panel_row {
    border: 1px #e7e7e7 solid;
    padding: 0;
}

.gc_w_design_grid_text {
    border: 1px #e7e7e7 solid;
    padding: 26px 0 0 0;
}

.gc_w_design_grid_text:after {
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Text";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.gc_w_design_grid_link {
    border: 1px #e7e7e7 solid;
    padding: 26px 0 0 0;
}

.gc_w_design_grid_link:after {
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Link";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.gc_w_design_grid_image {
    border: 1px #e7e7e7 solid;
    padding: 26px 0 0 0;
}

.gc_w_design_grid_image:after {
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Image";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.gc_w_design_grid_html {
    border: 1px #e7e7e7 solid;
    padding: 26px 0 0 0;
}

.gc_w_design_grid_html:after {
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "HTML";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.gc_w_panel {

}

.gc_w_design_attr_exp {
    background: #F9FCFF;
}

.gc_w_design_attr_exp:after {
    background: url(/studio/images/vb/dfx_symb_exp.png);
    content: "";
    right: 1px;
    top: 1px;
    padding: 8px 8px;
    position: absolute;
}

.gc_w_design_attr_bind {
    background: #F9FCFF;
}

.gc_w_design_attr_bind:after {
    background: url(/studio/images/vb/dfx_symb_bind.png);
    content: "";
    right: 1px;
    top: 1px;
    padding: 8px 8px;
    position: absolute;
}

.gc_w_design_attr_evt {
    background: #F9FCFF;
}

.gc_w_design_attr_evt:after {
    background: url(/studio/images/vb/dfx_symb_evt.png);
    content: "";
    right: 1px;
    top: 1px;
    padding: 8px 8px;
    position: absolute;
}

/* Column layout */

.gc_w_column_layout {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

/* Orientation */
.gc_w_column_orientation_horizontal {
    -ms-box-orient: horizontal;
    flex-direction: row;
}

.gc_w_column_orientation_vertical {
    -ms-box-orient: vertical;
    flex-direction: column;
}

/* Alignment */
.gc_w_column_align_start {
    align-items: flex-start;
}

.gc_w_column_align_center {
    align-items: center;
}

.gc_w_column_align_end {
    align-items: flex-end;
}

.gc_w_row_align_start {
    align-items: flex-start;
}

.gc_w_row_align_center {
    align-items: center;
}

.gc_w_row_align_end {
    align-items: flex-end;
}

/* Disposition */
.gc_w_column_disposition_start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.gc_w_column_disposition_end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.gc_w_column_disposition_center {
    -webkit-justify-content: center;
    justify-content: center;
}

.gc_w_column_disposition_space_between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.gc_w_column_disposition_space_around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.gc_m_design_panel,
.ratchet #PreviewContent {
    background: url(../../images/device-sprite-50p.png) 0 0 no-repeat;
}

.gc_m_design_panel.dfx-ios,
.dfx-ios #PreviewContent {
    background-position: 0 0;
}

.gc_m_design_panel.dfx-android,
.dfx-android #PreviewContent {
    background-position: -790px 0;
}

.ratchet #PreviewContent {
    margin: 0 auto;
    margin-top: 50px;
    width: 396px;
    height: 813px;
}

/*#PreviewContent .bar-tab {*/
    /*top: auto;*/
    /*left: 0;*/
/*}*/

.gc_m_design_panel.dfx-ios > .content,
.gc_m_design_panel.dfx-android > .content,
.ratchet #PreviewContent [name] .content_preview {
    position: absolute;
    top: 118px !important;
    left: 38px !important;
    height: 517px !important;
    width: 319px !important;
}
.ratchet #PreviewContent .content {
    position: inherit;
}
