*{padding: 0; margin: 0; }
html, body {height: 100%; width: 100%; background-color:#FFF;overflow:auto;}

#wrapper{width: 100%; margin: 0 auto; background-color:#FFF; min-height: 100%;overflow:auto;}

*html #wrapper{height: 100%;background-color:#FFF;overflow:auto;}

#header {text-align:center;background-color:#B22222;}
#content{overflow:auto; width: 100%;}
#empty {height: 20px;}
#footer {min-height: 20px; margin: -20px auto 0; width: 100%; position:relative;text-align:center;background-color:#B22222;}
.bot_trap{
display:none;
}
.login{
border-width:thin;
border-color:#EEE5DE;
border-style:ridge;
margin:250px auto 0;
background-color:#EEE5DE;
padding:10px;
font-family:System;
font-size:12px;
width:250px;
height:150px;
}
.submit_button 
{
   font-family:Copperplate Gothic Bold;
   color:#FF3030;
   font-weight: 100;
   margin: 10px 0 0 30px;
   font-size: 1.5em;
   width:100px;
   height:30px;
}
//Form login
form#login fieldset {
  margin-bottom: 10px;
}
form#login legend {
  font-weight:100;
  margin: 0 auto;
  font-family:Copperplate Gothic Bold;
}
form#login label {
  display: inline-block;
  font-size: 1em;
  vertical-align: top;
  width: 300px;
  color: #458B00;
  font-family:System;
}
form#login em {
  color: red;
}
form#login ol {
  margin: 0;
  padding: 0;
}
form#login li {
  list-style: none;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid silver;
}





